* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* GENERAL STYLING */
html,
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(135deg, #af9bff, #562bab);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow-x: hidden;
}

.grid-layout {
  display: grid;
  grid-template-columns: 15% auto 25%;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "navbar navbar navbar"
    "sidebar header header"
    "sidebar postlist taglist";
  height: 100vh;
}

header {
  grid-area: header;
  color: rgb(207, 207, 207);
  margin-top: 1rem;
  padding: 1rem;
  width: 50%;
  text-align: center;
  margin: 1rem auto;
}

h1 {
  text-align: center;
  margin-top: 4rem;
}

/* NAVBAR */
.navbar {
  background-color: black;
  height: 4rem;
  display: flex;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  align-items: center;
  grid-area: navbar;
  position: fixed;
  width: 100%;
}

.navbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: auto;
}

.navbar-list li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.7rem 1.5rem;
  font-size: 0.8rem;
}

a {
  color: rgb(207, 207, 207);
  text-decoration: none;
  font-weight: 600;
}

/* SIDABAR */
.sidebar {
  background-color: black;
  width: 16vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 8px 5px 3px rgba(0, 0, 0, 0.4);
  grid-area: sidebar;
}

.sidebar-logo {
  margin-top: -10rem;
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 3rem;
  border: 3px solid rgba(255, 255, 255, 0.516);
}

.icon-sidebarbtn {
  margin-right: 0.3rem;
}

.sidebar-btn {
  margin: 1rem;
  padding: 1.1rem 2rem;
  width: 16vw;
  background-color: rgba(43, 43, 43, 0.547);
  border: none;
  cursor: pointer;
  color: rgb(207, 207, 207);
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
}

.sidebar-btn:hover,
li:hover,
.mobile-nav-links li:hover {
  background-color: #562bab;
  cursor: pointer;
}

/* POSTS */
.post-list {
  grid-area: postlist;
  max-width: 85%;
  margin: 0 auto;
}

.post-card {
  padding: 2.5rem 3rem;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  margin: 2rem auto;
  width: 100%;
  color: rgb(207, 207, 207);
}

h3 {
  margin-bottom: 0.3rem;
}

.author {
  float: right;
  margin-top: 0.5rem;
  font-style: italic;
  color: gray;
}

/* TAGS */
.tag-list {
  padding: 1rem;
  margin: 2rem;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  height: fit-content;
  align-self: start;
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: taglist;
}

.tag-btn {
  padding: 0.4rem 0.7rem;
  margin: 0.5rem;
  background-color: #562bab;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  color: rgb(207, 207, 207);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tag-btn:hover {
  background-color: #713adf;
  cursor: pointer;
}

/* HIDE HAMBURGER MENU ON LARGER SCREENS */
.hamburger {
  display: none;
}

.mobile-menu {
  display: none;
}

/* RESPONSIVE */
@media (max-width: 899px) {
  /* GENERAL */
  .grid-layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "navbar"
      "header"
      "postlist"
      "taglist";
    height: auto;
  }

  /* SIDEBAR */
  .sidebar {
    display: none;
    width: 100%;
  }

  .sidebar-btn {
    padding: 0.8rem 0;
    display: block;
    margin: 0 auto 1rem;
    width: 18rem;
  }

  /* MOBILE MENU */
  .navbar-list {
    display: none;
  }

  .hamburger {
    display: block;
    margin-left: auto;
    padding: 0 0.7rem;
    height: 2rem;
    border: none;
    justify-content: center;
    align-items: center;
    background: none;
    border-radius: 10px;
  }

  .fa-bars {
    font-size: 1.8rem;
    color: rgb(216, 216, 216);
  }

  .hamburger:hover {
    cursor: pointer;
  }

  .fa-bars:hover {
    color: white;
  }

  .mobile-menu {
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    background-color: rgba(2, 0, 0, 0.85);
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    z-index: 100;
    box-shadow: 0px 0px 9px 5px rgba(0, 0, 0, 0.4);
  }

  .mobile-nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .mobile-nav-links li {
    list-style: none;
    text-transform: uppercase;
    background-color: rgba(24, 24, 24, 0.547);
    padding: 0.7rem 1.5rem;
    text-align: center;
    width: 18rem;
    font-size: 0.8rem;
  }

  .mobile-nav-links a {
    color: rgb(207, 207, 207);
    text-decoration: none;
    font-weight: 600;
  }
}

@media (min-width: 900px) and (max-width: 1150px) {
  /* GENERAL */
  .grid-layout {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
      "navbar navbar"
      "sidebar header"
      "sidebar postlist"
      "sidebar postlist"
      "sidebar taglist";
    height: auto;
  }

  header {
    font-size: 0.9rem;
    margin-bottom: -1rem;
  }

  h3 {
    margin-bottom: 0.3rem;
  }

  /* SIDEBAR */
  .sidebar {
    width: 100%;
  }
}
